@model List<Greengrocer.Models.Food>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="container">
        <a class="btn btn-success" href="/Home/Add">Add New Food</a>
    </div>
    <br />
    <div class="container">
        <form method="get" action="/Home/Index">
            <div class="row">
                <div class="col-lg-12">
                    <select class="form-control" onchange="this.form.submit()" name="typeOfFood" id="typeOfFood">
                        <option selected disabled value="">
                            Choose type of food
                        </option>
                        <option value="Fruit">
                            Fruit
                        </option>
                        <option value="Vegetable">
                            Vegetable
                        </option>
                       
                        <option value="All of them">
                            All of them
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th>
                            Food Name
                        </th>
                        <th>
                           Type Of Food
                        </th>
                        <th>
                            Price 
                        </th>
                        
                    </tr>
                    @foreach (Greengrocer.Models.Food food in Model)
                    {
                        <tr>
                            <td>
                                @food.FoodName
                            </td>
                            <td>
                                @food.TypeOfFood
                            </td>
                            <td>
                                @food.Price
                            </td>
                           
                            <td>
                                <a class="btn btn-danger" href="/Home/Remove?FoodId=@food.FoodId">Remove Food</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/Home/Update?FoodId=@food.FoodId">Update Food</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                Total Price:  @ViewBag.total
            </div>
        </div>
    </div>
</body>
</html>
